#main {
  background-color:#white;
  margin-top: 60px;
}
.pic{
  border-radius: 5px;
  border-style: solid;
  text-align: center;
  border-color: transparent;
  
  margin: auto;
  padding: 5px;
}
.list{
  padding:5px;
  margin: 20px 120px ;
}
